build
src/Mosaic*
*.jpeg
*__pycache__*
typings/
env/
.pytest_cache/
coverage.xml
.coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


sensor_data*.mcap
*.mp4
*_metadata.json
envmac11/

.cspell/
segments/